/*
dark blue - #3b627e	(59,98,126)
medium blue - #5799c3	(87,153,195)
blue - #8dcfda	(141,207,218)
light blue - #b7f0ed	(183,240,237)
gray - #d3dadb	(211,218,219)

light pink - #fbd9f6	(251,217,246)
light pink - #f0c9ee	(240,201,238)
light coral - #fbc3c3	(251,195,195)
coral - #ec9595	(236,149,149)
deep coral - #dd6262	(221,98,98)
*/

/* font-family: 'Londrina Shadow', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Chathura', sans-serif; */

/* Typography and colors */
body{
  background-color: #d3dadb;
  font-family: 'Chathura', sans-serif;
  font-weight: 100;
  font-size: 1.6em;
  color: #5799c3;
  line-height: 1em;
  margin: 0;
}
h1{
  font-family: 'Londrina Shadow', cursive;
  color: #dd6262;
  font-size: 2em;
  margin: 20px;
}
h2{
  background-color: #ec9595;
  font-family: 'Chathura', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  color: #b7f0ed;
  padding: 0 20px;
}
h3{
  font-family: 'Open Sans', sans-sans-serif;
  font-weight: 100;
  font-size: .8em;
  color: #dd6262;
}

.s_detail h3 {
  text-align: right;
  margin-right: 10px;
}
nav a{
  text-decoration: none;
  color: #fbc3c3;
  padding: 12px 20px;
}
nav a:nth-child(2){
  border-left: 2px solid #d3dadb;
  border-right: 2px solid #d3dadb;

}
.boxContainer * {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.t_profile p {
  padding: 0 20px;
}

.s_detail {
  display:flex;
  flex-flow: row nowrap;
}

.s_detail * {
  flex-basis: 50px;
  flex-grow: 1;
}

/* Images */
.t_profile img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 0 20px 20px 0;
}
.studentBox .t_profile img {
  margin: 0 0 20px 0;
}

/* Navigation */
nav{
  display: flex;
  justify-content: space-between;
  background-color: #3b627e;
  align-items: center;
}

.navSelected {
  text-decoration: underline;
  color: #ffffff;
}
/* Box Styling */
.boxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
.teacherBox, .studentBox, .courseBox, .filterBox {
  background-color: #b7f0ed;
  /* border: 2px solid #ec9595; */
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.courseBox {
  flex-direction: row;
  flex-basis: 48%;
  justify-content: space-evenly;
  align-items: center;
}
.filterBox {
  flex-direction: row;
  flex-basis: 50%;
  justify-content: space-evenly;
  background-color: #ec9595;
  align-items: center;
}
.t_profile, .t_info {
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.t_profile{
  align-items: center;
}
.t_info{
  background-color: #fbc3c3;
  border-radius: 0 0 20px 20px;
  align-items: baseline;
}
.studentBox {
  flex-basis: 33%;
}
.studentBox .t_profile {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.studentBox .t_info {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.studentBox .t_profile h3 {
  text-align: center;
}

.partA {
  border-right: 2px solid #ffffff;
  padding: 20px;
  margin: 10px;
  text-align: center;
  flex-basis: 300px;
}
.partB {
  flex-basis: 70%;
}
